<!DOCTYPE html>
<html lang="en">

<head>

<title>To-Do List</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" hrf="./public/stylesheets/style.css">
<!--<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">-->

</head>

<body>  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container rounded-3 border border-2 border-dark my-5 bg-white" style ="height:auto">

<h2>Add A Task</h2>

<div class="todo">

<form action="/" method="POST" >
    <div class="col-8">
        <input class="py-3 form-control shadow" type="text" name="content" placeholder="Input your task here (e.g., 'Laundry').">
    </div>
    <div class="col-2">
        <button class="mt-2 btn btn-success"type="submit">Submit</button>
    </div>
</form>

<h3 class="mt-4">To-Do List</h3>

<div class="col-12">
<ul class="list-group" id="list">
    <% todoTasks.forEach(details => { %>
        <li class="my-3 py-3 shadow list-group-item">
            <div class=""><%= details.content %></div>
            <div class="mt-2">
            <a href="/edit/<%= details._id %>" class="btn btn-success">
                <span class="text-right">Edit</span>
            </a>
                <a href="/remove/<%= details._id %>" class="btn btn-danger">
            <span class="text-right">Remove</span>
            </a>
        </div>
        </li>
    <% }) %>
</ul>
</div>

</div>

</div>

</body>

</html>